<%= form_with(model: blogpost, local: true, class: "form-group card mx-auto col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12") do |form| %>
  <% if blogpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blogpost.errors.count, "error") %> prohibited this blogpost from being saved:</h2>
      <ul>
        <% blogpost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <h4 class="mx-auto text-center ">
      <%= form.text_field :title, class: "form-control", placeholder: :title %>
    </h4>
    <p class="text-center">
      <%= form.text_area :body, rows: 20, class: "form-control", placeholder: :body  %>
    </p>
      <div class="blogpost-actions d-flex justify-content-between">
        <div>
          <a><%= form.submit "Submit", class: 'btn btn-outline-warning btn-sm' %></a>
        </div>
        <div>
          <a><%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class: "card-link btn btn-outline-primary btn-sm btn-no-outline" %></a>
        </div>
      </div>
  </div>
<% end %>
